@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    --bg: #CAF0F8;
    --primary: #3892C2;
    --primary-hover: #52c2ff;
    --card: #def0f3;
    --text: #222222;
}

.dark-mode {
    --bg: #111;
    --primary: #019e19;
    --primary-hover: #02a019;
    --card: #52674a;
    --text: #d4d3d3;
}

body {
    background-color: var(--bg);
}

* {
    color: var(--text);
    transition: 0.7s;
}