@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    --bg: #efefef;
    --text: #222;
    --primary: #decc2b;
    --primary-dark: #a79924;
    --card: #877c5e;
}

.dark-mode {
    --bg: #111;
    --text: #d4d3d3;
    --primary: rgb(56, 146, 194);
    --primary-dark: rgb(43, 107, 142);
    --card: #272724;
}

body {
    background-color: var(--bg);
}

* {
    color: var(--text);
    transition: 0.5s;
}

.button {
    background-color: var(--primary);
    &:hover{
        transform: scale(1.05);
        background-color: var(--primary-dark);
    }
}

.myUnderline{
    background-color: var(--primary);
}

.card{
    background-color: var(--card);
}