@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    --bg: #efefef;
    --text: #222;
    --primary: #decc2b;
    --card: #eeeeee;
}

.dark-mode {
    --bg: #111;
    --text: #d4d3d3;
    --primary: rgb(56, 146, 194);

    --card: #272724;
}

body {
    background-color: var(--bg);
}

* {
    color: var(--text);
    transition: 0.5s;
}

.button {
    background-color: var(--primary);
}

.myUnderline{
    background-color: var(--primary);
}